.navbar-brand{
    text-shadow: 2px 0px 0px cornflowerblue;
    letter-spacing: 5px;
    color: black;
    font-family: fantasy;
}
.me-auto{
    margin-left: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.nav-color.bg-body-tertiary{
   background-color: whitesmoke !important;
}
.nav-link{
    color: black;

}
.padding-top{
    padding-top:56px ;
}
.letter-a{
    width: 15%;
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
}