.resume-img{
    display: flex;
    justify-content: center;
}
.resume{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}
.resume h1{
    color: black;
    text-shadow: 0px 4px 3px cornflowerblue ;
    font-family: emoji;
}
.resume-img img{
    background: linear-gradient(50deg,black 50%,cornflowerblue 50%);
    padding: 10px;
}